<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>WHAR | Contact Us</title>
      <link rel="icon" href="../static/media/logo.png" type="image/x-icon">
      <link rel="stylesheet" href="../static/style.css">
      <script src="../static/script.js"></script>
   </head>
   <body>
      <header>
         <div class="row">
            <div class="column">
               <p class="p-header" onclick="openHome()">Wise Household Appliances Repair
               <p style="display: inline; font-size: 16pt;"><sup>&copy;</sup></p>
               <p></p>
            </div>
            <div class="column">
               <img class="img-header" style="float: right; padding-right: 20px; margin-top: -14px;"
                  src="../static/media/logo.png" alt="logo" width="66" onclick="openHome()">
               <img class="img-header" style="padding-right: 50px" src="../static/media/whatsapp.png" alt="whatsapp"
                  width="40" onclick="window.open('https://www.whatsapp.com/');">
               <img class="img-header" src="../static/media/instagram.png" alt="instagram" width="40"
                  onclick="window.open('https://www.instagram.com/');">
               <img class="img-header" src="../static/media/twitter.png" alt="twitter" width="40"
                  onclick="window.open('https://twitter.com/');">
               <img class="img-header" src="../static/media/facebook.png" alt="facebook" width="40"
                  onclick="window.open('https://www.facebook.com/');">
            </div>
         </div>
      </header>
      <div class="navigation">
         <div class="row" style="padding-top: 10px; padding-bottom: 10px; text-align: center;">
            <div class="nav-column" onclick="openHome()">
               Home
            </div>
            <div class="nav-column" onclick="openServices()">
               Services
            </div>
            <div class="nav-column" onclick="openAboutUs()">
               About us
            </div>
            <div class="nav-column" style="background-color: rgb(171, 216, 255);" onclick="openContactUs()">
               Contact us
            </div>
            <div class="nav-column" onclick="openEmployees()">
               Employees
            </div>
         </div>
      </div>
      <div class="row" style="padding-bottom: 70px;">
         <div class="column" style="width: 50%;">
            <div style="padding-left: 50px; margin-bottom: -30pt;">
               <h1>Contact us</h1>
            </div>
            <div style="padding-left: 50px; margin-right: 50px; font-size: 20pt;">
               <p style="display: inline;">
                  <br>
               <p style="font-weight: 600; display: inline; font-size: 26pt;">Business hours:</p>
               <br> Mon: 09:00 - 21:00
               <br> Tues: 09:00 - 21:00
               <br> Wed: 09:00 - 21:00
               <br> Thurs: 09:00 - 21:00
               <br> Fri: 09:00 - 21:00
               <br> Sat: 12:00 - 20:00
               <br> Sun: 
               <p style="display: inline; font-size: 18pt; color: rgba(0, 0, 0, 0.605);">Closed</p>
               <div style="padding-top: 150px; padding-bottom: 30px;">
                  <img src="../static/media/phone_icon.png" alt="phone_icon.png" width="40" style="float: left;">
                  <p style="display: inline; padding-left: 10px; font-size: 24pt;">+371 67 100 661</p>
                  <br>
                  <br>
                  <img src="../static/media/address_icon.png" alt="" width="40" style="float: left;">
                  <p style="display: inline; padding-left: 10px; font-size: 24pt;">Lomonosova street 1, Riga, LV-1019
                  </p>
                  <br>
                  <br>
                  <img src="../static/media/e-mail_icon.png" alt="" width="40" style="float: left;">
                  <p style="display: inline; padding-left: 10px;font-size: 24pt; ">whar@support.com</p>
               </div>
            </div>
         </div>
         <div class="column" style="width: 50%;">
            <div style="padding-left: 10px; padding-right: 20px; padding-top: 50px; padding-bottom: 250px;">
               <div class="map">
                  <iframe
                     src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2176.5527881549892!2d24.153823315395126!3d56.93932990732377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb3dd703c42695fab!2zNTbCsDU2JzIxLjYiTiAyNMKwMDknMjEuNiJF!5e0!3m2!1sen!2slv!4v1671391246072!5m2!1sen!2slv"
                     style="border: 0; float: right; width: 100%; height: 450px" allowfullscreen="" loading="lazy"
                     referrerpolicy="no-referrer-when-downgrade"></iframe>
               </div>
            </div>
         </div>
      </div>
      <footer>
         &copy; 2022 Wise Household Appliances Repair | whar.com &#8482;
      </footer>
   </body>
</html>