<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>WHAR | Major Appliances</title>
      <link rel="icon" href="../static/media/logo.png" type="image/x-icon">
      <link rel="stylesheet" href="../static/style.css">
      <script src="../static/script.js"></script>
   </head>
   <body>
      <header>
         <div class="row">
            <div class="column">
               <p class="p-header" onclick="openHome()">Wise Household Appliances Repair
               <p style="display: inline; font-size: 16pt;"><sup>&copy;</sup></p>
               <p></p>
            </div>
            <div class="column">
               <img class="img-header" style="float: right; padding-right: 20px; margin-top: -14px;"
                  src="../static/media/logo.png" alt="logo" width="66" onclick="openHome()">
               <img class="img-header" style="padding-right: 50px" src="../static/media/whatsapp.png" alt="whatsapp"
                  width="40" onclick="window.open('https://www.whatsapp.com/');">
               <img class="img-header" src="../static/media/instagram.png" alt="instagram" width="40"
                  onclick="window.open('https://www.instagram.com/');">
               <img class="img-header" src="../static/media/twitter.png" alt="twitter" width="40"
                  onclick="window.open('https://twitter.com/');">
               <img class="img-header" src="../static/media/facebook.png" alt="facebook" width="40"
                  onclick="window.open('https://www.facebook.com/');">
            </div>
         </div>
      </header>
      <div class="navigation">
         <div class="row" style="padding-top: 10px; padding-bottom: 10px; text-align: center;">
            <div class="nav-column" onclick="openHome()">
               Home
            </div>
            <div class="nav-column" style="background-color: rgb(171, 216, 255);" onclick="openServices()">
               Services
            </div>
            <div class="nav-column" onclick="openAboutUs()">
               About us
            </div>
            <div class="nav-column" onclick="openContactUs()">
               Contact us
            </div>
            <div class="nav-column" onclick="openEmployees()">
               Employees
            </div>
         </div>
      </div>
      <div style="padding-left: 50px;">
         <h1>Repair of major appliances</h1>
      </div>
      <div class="row">
         <p style="font-size: 26pt; padding-left: 50px; display: inline;">We repair</p>
         <br>
         <div class="column" style="width: 30%; margin: auto; padding-left: 80px;">
            <ul>
               <li>Air conditioners</li>
               <li>Dishwashers</li>
               <li>Laundry dryer</li>
               <li>Drying cabinets</li>
               <li>Freezers</li>
            </ul>
         </div>
         <div class="column" style="width: 30%; margin: auto;">
            <ul>
               <li>Wine cabinets</li>
               <li>Refrigerators</li>
               <li>Cookers</li>
               <li>Water heaters</li>
            </ul>
         </div>
         <div class="column" style="width: 30%; margin: auto;">
            <ul>
               <li>Washing machines</li>
               <li>Trash compactors</li>
               <li>Microwaves</li>
               <li>Induction cookers</li>
            </ul>
         </div>
      </div>
      <div style="text-align: right; padding:40px; padding-right: 60px; padding-top: 70px;">
         <p style="font-size: 20pt; display: inline;">Repair price: 30,00&euro; - 400,00&euro;</p>
         <br>
         <p style="display: inline; color: rgba(0, 0, 0, 0.347);">The price may vary depending on the complexity of
            the work
         </p>
      </div>
      <div style="text-align: center;">
         <button class="button-bm" onclick="openServRepApp()">
         Apply for a repair
         </button>
      </div>
      <div style="text-align: center; margin-top: -20px; padding-bottom: 70px;">
         <h2>For detailed information please call +371 67 100 661</h2>
      </div>
      <footer>
         &copy; 2022 Wise Household Appliances Repair | whar.com &#8482;
      </footer>
   </body>
</html>